<h1>Buy Demands sent</h1>

<% @buy_demands_sent.each do |buy_demand| %>
  <div>
    <%= image_tag buy_demand.pokemon.image_path, class: 'pokemon_image' %>
    
    <div class="pokemon_infos">
      <div class="info_line">
        <p class="label">Pokemon</p>
        <p class="pokemon_info"><%= link_to buy_demand.pokemon.name, pokemon_path(buy_demand.pokemon) %></p>
      </div>
      <div class="info_line">
        <p class="label">Buyer</p>
        <p class="pokemon_info"><%= buy_demand.buyer.email %></p>
      </div>
      <div class="info_line">
        <p class="label">Price</p>
        <p class="pokemon_info"><%= buy_demand.pokemon.price.round(2) %>€</p>
      </div>
    </div>
    <% if buy_demand.buyer == current_user %>
      <%= button_to 'Cancel buy demand', cancel_buy_demand_buy_demand_path(buy_demand), method: :post %>
    <% end %>

  </div>
<% end %>

<h1>Buy Demands received</h1>

<% @buy_demands_received.each do |buy_demand| %>
  <div>
    <h3>Pokemon: <%= link_to buy_demand.pokemon.name, pokemon_path(buy_demand.pokemon) %></h3>
    <p>Seller: <%= buy_demand.seller.email %></p>
    <p>Price: <%= buy_demand.pokemon.price.round(2) %>€</p>

    <% if buy_demand.seller == current_user %>
      <%= button_to 'Accept', accept_buy_demand_path(buy_demand), method: :post %>
      <%= button_to 'Reject', reject_buy_demand_path(buy_demand), method: :post %>
    <% end %>
  </div>
<% end %>
